<h1>Controllo utente fallito</h1>
<p>Il codice utente che hai fornito non è valido. Controlla di non
avere commesso errori nell'inserimento e riprova. 
</p>


<p>Se sei sicuro di non avere commesso errori contatta gli amministratori all&#x27;indirizzo: sondaggio.statuto@gmail.com</p>