<div id="istruzioni">
<h2>Istruzioni</h2>
<ol>
	<li class="<%= instruction_class(active_point, 1) %>">
		<p>Inserire la propria email istituzionale nel box sottostante e premere il pulsante
		&quot;Continua&quot;.</p>
		
		<p>Il sistema invier&agrave; (tramite l&#x27;indirizzo sondaggio.statuto@gmail.com)
		una mail all&#x27;indirizzo indicato contenente un link che permetter&agrave; di
		accedere al sondaggio. La mail specificher&agrave; anche un codice utente che
		potr&agrave; essere utilizzato in alternativa al link.</p>	
		
		<p><strong>Nota:</strong> Nel caso il sistema non riconosca il proprio indirizzo come valido, provare a
			inserire eventuali varianti (es. mario.rossi@di.unito.it potrebbe essere stato
			inserito come mario.rossi@unito.it)</p>
	</li>

	<li class="<%= instruction_class(active_point, 2) %>">
		<p>Seguire il link specificato nella mail o inserire manualmente il codice utente.</p>
		<p>Dipendentemente dalla situazione di carico dei server &egrave; possibile che la mail
			impieghi qualche ora per arrivare. Contattare gli amministratori all&#x27;indirizzo:<br/>
			<center>sondaggio.statuto@gmail.com </center><br>
			<em>solo dopo avere controllato</em> che la mail non sia stata catalogata come SPAM e a distanza di pi&ugrave; di 6 ore dalla richiesta.</p>
	</li>

	<li class="<%= instruction_class(active_point, 3) %>">Rispondere ai quesiti.<br><strong>Nota:</strong> Per astenersi dal voto &egrave; sufficiente confermare l&#x27;inserimento dei dati lasciando deselezionate tutte le opzioni.</li>
</ol>
</div>
