<h1>Errore nei dati trasmessi al sistema</h1>
Il sistema ha rilevato un&#x27;incongruenza nei dati inseriti. Una possibile causa
pu&ograve; essere il tentativo di sottomettere pi&ugrave; volte un voto o l&#x27;esplicito tentativo
di votare senza averne credito. 

<p>In caso si ritenga che l&#x27;errore mostrato non sia
dovuto contattare gli amministratori del sito all&#x27;indirizzo:
	sondaggio.statuto@gmail.com
</p>