<h1><%= ApplicationConfig.poll_title %></h1>

<p>Questa applicazione &egrave; stata sviluppata per condurre consultazioni interne all'Universit&agrave; di Torino.</p>

<p>&Egrave; possibile accedere al sistema utilizzando come credenziale di accesso il proprio
indirizzo di email istituzionale.
</p>

<p>L'esito della consultazione &egrave; memorizzato in forma completamente anonima e garantisce che ogni
votante possa esprimersi una sola volta; il codice dell&#x27;applicazione &egrave; aperto e
liberamente accessibile (<a href="https://github.com/boborbt/SondaggioStatuto">https://github.com/boborbt/SondaggioStatuto</a>) per chi 
volesse verificarne la logica di funzionamento, la privatezza dei dati e la 
correttezza delle procedure di computo dei risultati.
</p>

<br/>

<div id="partecipa">
<%= link_to 'Partecipa', new_user_path %>
</div>
