<h1>Sondaggio sullo Statuto dell&#x27;Universit&agrave; di Torino</h1>

<p>Questa applicazione &egrave; stata sviluppata per condurre un sondaggio sullo Statuto
dell&#x27;Ateneo di Torino; in particolare sottopone alcuni dei punti pi&ugrave; controversi
all&#x27;approvazione di dipendenti e studenti.
</p>

<p>&Egrave; possibile accedere al sistema utilizzando come credenziale di accesso il proprio
indirizzo di email istituzionale.
</p>

<p>Il sondaggio &egrave; memorizzato in forma completamente anonima e garantisce che ogni
votante possa esprimersi una sola volta; il codice dell&#x27;applicazione &egrave; aperto e
liberamente accessibile (facendone richiesta a sondaggio.statuto@gmail.com) per chi 
volesse verificarne la logica di funzionamento, la privatezza dei dati e la 
correttezza delle procedure di computo dei risultati.
</p>

<br/>

<div id="partecipa">
<%= link_to 'Partecipa', new_user_path %>
</div>
